[submodule ".vim/pack/plugins/start/vim-easymotion"]
	path = .vim/pack/plugins/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule ".vim/pack/plugins/YouCompleteMe"]
	path = .vim/pack/plugins/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
